@at-root {
  @font-face {
    font-family: "dripicons-weather";
    src: url("fonts/dripicons-weather.eot");
    src: url("fonts/dripicons-weather.eot?#iefix") format("embedded-opentype"),
    url("fonts/dripicons-weather.woff") format("woff"),
    url("fonts/dripicons-weather.ttf") format("truetype"),
    url("fonts/dripicons-weather.svg#dripicons-weather") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dripicons-weather" !important;
  vertical-align: middle;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "a";
}
.icon-cloud-drizzle:before {
  content: "b";
}
.icon-cloud-drizzle-lightning:before {
  content: "c";
}
.icon-cloud-drizzle-lightning-moon:before {
  content: "d";
}
.icon-cloud-drizzle-lightning-sun:before {
  content: "e";
}
.icon-cloud-drizzle-lightning-sun-2:before {
  content: "f";
}
.icon-cloud-drizzle-moon:before {
  content: "g";
}
.icon-cloud-drizzle-sun:before {
  content: "h";
}
.icon-cloud-drizzle-sun-2:before {
  content: "i";
}
.icon-cloud-fog:before {
  content: "j";
}
.icon-cloud-fog-2:before {
  content: "k";
}
.icon-cloud-fog-moon:before {
  content: "l";
}
.icon-cloud-fog-sun:before {
  content: "m";
}
.icon-cloud-fog-sun-2:before {
  content: "n";
}
.icon-cloud-hail:before {
  content: "o";
}
.icon-cloud-hail-lightning:before {
  content: "p";
}
.icon-cloud-hail-lightning-moon:before {
  content: "q";
}
.icon-cloud-hail-lightning-sun:before {
  content: "r";
}
.icon-cloud-hail-lightning-sun-2:before {
  content: "s";
}
.icon-cloud-hail-moon:before {
  content: "t";
}
.icon-cloud-hail-sun:before {
  content: "u";
}
.icon-cloud-hail-sun-2:before {
  content: "v";
}
.icon-cloud-lightning:before {
  content: "w";
}
.icon-cloud-lightning-moon:before {
  content: "x";
}
.icon-cloud-lightning-sun:before {
  content: "y";
}
.icon-cloud-lightning-sun-2:before {
  content: "z";
}
.icon-cloud-moon:before {
  content: "A";
}
.icon-cloud-rain:before {
  content: "B";
}
.icon-cloud-rain-2:before {
  content: "C";
}
.icon-cloud-rain-2-moon:before {
  content: "D";
}
.icon-cloud-rain-2-sun:before {
  content: "E";
}
.icon-cloud-rain-2-sun-2:before {
  content: "F";
}
.icon-cloud-rain-lightning:before {
  content: "G";
}
.icon-cloud-rain-lightning-moon:before {
  content: "H";
}
.icon-cloud-rain-lightning-sun:before {
  content: "I";
}
.icon-cloud-rain-lightning-sun-2:before {
  content: "J";
}
.icon-cloud-rain-moon:before {
  content: "K";
}
.icon-cloud-rain-sun:before {
  content: "L";
}
.icon-cloud-rain-sun-2:before {
  content: "M";
}
.icon-cloud-snow:before {
  content: "N";
}
.icon-cloud-snow-moon:before {
  content: "O";
}
.icon-cloud-snow-sun:before {
  content: "P";
}
.icon-cloud-snow-sun-2:before {
  content: "Q";
}
.icon-cloud-sun:before {
  content: "R";
}
.icon-cloud-sun-2:before {
  content: "S";
}
.icon-cloud-wind:before {
  content: "T";
}
.icon-cloud-wind-2:before {
  content: "U";
}
.icon-cloud-wind-2-moon:before {
  content: "V";
}
.icon-cloud-wind-2-sun:before {
  content: "W";
}
.icon-cloud-wind-2-sun-2:before {
  content: "X";
}
.icon-cloud-wind-moon:before {
  content: "Y";
}
.icon-cloud-wind-sun:before {
  content: "Z";
}
.icon-cloud-wind-sun-2:before {
  content: "0";
}
.icon-clouds:before {
  content: "1";
}
.icon-clouds-moon:before {
  content: "2";
}
.icon-clouds-sun:before {
  content: "3";
}
.icon-clouds-sun-2:before {
  content: "4";
}
.icon-compass-east:before {
  content: "5";
}
.icon-compass-north:before {
  content: "6";
}
.icon-compass-south:before {
  content: "7";
}
.icon-compass-west:before {
  content: "8";
}
.icon-degrees-celcius:before {
  content: "9";
}
.icon-degrees-fahrenheit:before {
  content: "!";
}
.icon-drizzle:before {
  content: "\"";
}
.icon-flag:before {
  content: "#";
}
.icon-fog:before {
  content: "$";
}
.icon-hail:before {
  content: "%";
}
.icon-lightning:before {
  content: "&";
}
.icon-moon-25:before {
  content: "'";
}
.icon-moon-50:before {
  content: "(";
}
.icon-moon-75:before {
  content: ")";
}
.icon-moon-100:before {
  content: "*";
}
.icon-moon-stars:before {
  content: "+";
}
.icon-rain:before {
  content: ",";
}
.icon-raindrop:before {
  content: "-";
}
.icon-snow:before {
  content: ".";
}
.icon-sun:before {
  content: "/";
}
.icon-sun-eclipse:before {
  content: ":";
}
.icon-sun-low:before {
  content: ";";
}
.icon-sun-lower:before {
  content: "<";
}
.icon-sun-rise:before {
  content: "=";
}
.icon-sun-set:before {
  content: ">";
}
.icon-thermometer-25:before {
  content: "?";
}
.icon-thermometer-50:before {
  content: "@";
}
.icon-thermometer-75:before {
  content: "[";
}
.icon-thermometer-100:before {
  content: "]";
}
.icon-tornado:before {
  content: "^";
}
.icon-umbrella:before {
  content: "_";
}
.icon-umbrella-drizzle:before {
  content: "`";
}
.icon-wet:before {
  content: "{";
}
.icon-wind:before {
  content: "|";
}
