@import 'partials/fonts';
@import 'partials/variables';

html {
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: $font-family-text;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}

h1, h2, h3, h4, h5{
    font-family: $font-family-headings;
    font-weight: 400;
}

h1 {
   font-size: $font-size-xl;
}


